/node_modules
/public/css
/public/hot
/public/js
/public/storage
/public/vendor
/public/mix-manifest.json
/public/index.html
/storage/*.key
/storage/api-docs
/storage/*.jpg
/storage/*.jpeg
/vendor
/.idea
package-lock.json
.DS_Store
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nova